<body>
    <h1> Frequently asked Questions</h1>
    <div class="tabs">
        <div class="tab">
          <input type="radio" id="rd1" name="rd">
          <label class="tab-label" for="rd1">1. How do I join the clan?</label>
          <div class="tab-content">
            Cupcake ipsum dolor sit amet chocolate cake halvah tart. Dragée pastry I love. Halvah I love lemon drops icing dessert macaroon.
          </div>
        </div>
        <div class="tab">
          <input type="radio" id="rd2" name="rd">
          <label class="tab-label" for="rd2">2.Why is there a server level requirement?</label>
          <div class="tab-content">
            Candy canes fruitcake cake pastry chocolate. Soufflé apple pie halvah sweet roll jelly bear claw 
          </div>
        </div>
        <div class="tab">
            <input type="radio" id="rd3" name="rd">
            <label class="tab-label" for="rd3">3. More questions will be added when they start coming up frequently</label>
            <div class="tab-content">
                Dragée jelly-o brownie tart lemon drops cotton candy liquorice cake gummi bears. 
            </div>
          </div>
        <div class="tab">
          <input type="radio" id="rd4" name="rd">
          <label for="rd4" class="tab-close">Close others &times;</label>
        </div>
      </div>
</body>