<header>
    <a routerLink=""><img class="logo" src="../../assets/Images/tqclogo.png"><span class="logo-text">The Queens Court</span></a>
    <nav>
        <ul class="links">
            <li><a routerLinkActive="active-link" routerLink="faq">FAQ</a></li>
            <li><a routerLinkActive="active-link" routerLink="aboutus">About Us</a></li>
            <li><a routerLinkActive="active-link" routerLink="sherpahub">Sherpa-Hub</a></li>
            <li><a href="#">Merch</a></li>
        </ul>
    </nav>
    <a class="cta" href="tqcdiscord.com"><button>Join Us!</button></a>z
</header>