<div class="d-flex gold-gradient"></div>
<div class="container-fluid bg-dark-gradient text-white">
    <div class="row" id="footer">
        <div class="copyright"><p>&copy; The Queens' Court</p></div>
        <ul class="socials">
            <li class="social-item">
                <a class="social-link" href="https://twitter.com/TQC_Discord"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="social-item">
                <a class="social-link" href="https://www.instagram.com/thequeenscourt_tqc/"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="social-item">
                <a class="social-link" href="https://www.facebook.com/groups/2234770833506902/?ref=share"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="social-item">
                <a class="social-link" href="https://www.twitch.tv/the_queens_court"><i class="fab fa-twitch"></i></a>
            </li>
            <li class="social-item">
                <a class="social-link" href="https://www.patreon.com/tqc/posts"><i class="fab fa-patreon"></i></a>
            </li>
            <li class="social-item">
                <a class="social-link" href="https://teespring.com/stores/thequeenscourt"><i class="fas fa-tshirt"></i></a>
            </li>
            <li class="social-item">
                <a class="social-link" href="mailto: queenscourt.discord@gmail.com"><i class="fas fa-envelope"></i></a>
            </li>
        </ul>
    </div>
</div>