#footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    font-size: 23px;
    margin-left: 25px;
    height: 100%;
}

.copyright p {
    margin-bottom: 0;
    white-space: nowrap;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    margin-bottom: 0;
    margin-right: 25px;
    padding-left: 0;
}

.social-item {
    display: inline;
    font-size: 22px;
}

.social-item + .social-item {
    margin-left: 1em;
}

.social-item:hover {
    border-bottom: 1px solid #ffffff;
}

.social-link {
    color: #ffffff;
}

@media (max-width: 600px) {
    #footer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .socials {
        margin-right: 0px;
        // forces a wrap of the footer container
        width: 100vw;
    }

    .social-item {
        font-size: 20px;
    }


    .copyright {
        margin-left: 0;
        margin-top: 10px;
        font-size: 18px;
    }
}