:host {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.navbar-dark {
    letter-spacing: 1.5px;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.nav-link {
    border-bottom: 1px solid transparent;
    transition: 0.25s ease-in-out;
}

.nav-link:hover,
.active {
    border-bottom: solid 1px white;
}