<div class="section-first bg-darkblue-gradient">
    <div class="container text-white">
        <div class="row">
            <div class="col-12">
                <h1 class="text-uppercase my-5">Sherpa program</h1>
            </div>
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur dolores voluptatem reiciendis neque exercitationem similique debitis ipsum maiores labore soluta, consectetur a dolore perferendis ad ea tempore iusto, sapiente fugiat.</p>
            </div>
        </div>
    </div>
</div>