<div class="container-fluid">
    <div class="row">
        <img src="../../../assets/images/banner.jpg" alt="TQC background" class="w-100">
    </div>
</div>
<div class="section-first bg-darkblue-gradient">
    <div class="container text-white">
        <div class="row">
            <div class="col-12 my-5">
                <h1 class="text-uppercase text-center">See us in action</h1>
                <hr class="bg-white">
            </div>
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZSWN-VP0lD8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 my-5">
                <hr class="bg-white">
            </div>
        </div>
    </div>
</div>