<div class="section-first bg-darkblue-gradient">
    <div class="container text-white">
        <div class="row">
            <div *ngIf="loading" class="spinner-grow mx-auto my-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <ng-container *ngIf="!loading">
            <h1 class="text-uppercase my-4">About Us</h1>
            <div class="row my-3">
                <div class="col-12">
                    <h2>TQC has {{totalClans}} clans! Check them out below:</h2>
                </div>
            </div>

            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link clickable" [ngClass]="{'active': displayPlatform=='PC'}" (click)="switchClans('PC')">PC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link clickable" [ngClass]="{'active': displayPlatform=='Playstation'}" (click)="switchClans('Playstation')">Playstation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link clickable" [ngClass]="{'active': displayPlatform=='XBOX'}" (click)="switchClans('XBOX')">Xbox</a>
                </li>
            </ul>

            <div class="row">
                <div class="col-12">
                    <!-- <h3 class="my-4">{{displayPlatform}}</h3> -->
                    <div class="my-2" *ngFor="let clan of displayClans">
                        <h4>{{clan.name}}</h4>
                        <p>{{clan.about}}</p>
                        <h5>Founders</h5>
                        <ul>
                            <li *ngFor="let admin of clan.members">{{admin.userName}}</li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>