<div class="wrapper">
    <div class="section" id="landing">
        <section class="welcome">
            <h1>The Queens' Court</h1>
            <p>Friends Conquer here</p>
        </section>
        <div class="join">
            <button id="join-btn">Join Us <i class="fab fa-discord"></i></button>
        </div>
    </div>
    <div class="section" id="statistics">
        <div class="section-header">
            <h1 class="section-title">Statistics</h1>
            <hr>
        </div>
        <div class="stats">
            <div class="stats-item">
                <p class="stats-count">5K+</p>
                <p class="stats-description">Active Members</p>
            </div>
            <div class="stats-item">
                <p class="stats-count">13</p>
                <p class="stats-description">Different Clans</p>
            </div>
            <div class="stats-item">
                <p class="stats-count">~500</p>
                <p class="stats-description">Completed Sherpas</p>
            </div>
        </div>
    </div>
</div>