<div class="wrapper">
    <div class="section" id="landing">
        <section class="welcome">
            <h1>The Queens' Court</h1>
            <p>Friends Conquer here</p>
        </section>
        <div class="join">
            <button id="join-btn">Join Us <i class="fab fa-discord"></i></button>
        </div>
    </div>
    <div class="section" id="statistics">
        <div class="section-header">
            <h1 class="section-title">Statistics</h1>
            <hr>
        </div>
        <div class="stats">
            <div class="stats-item">
                <p class="stats-count">5K+</p>
                <p class="stats-description">Active Members</p>
            </div>
            <div class="stats-item">
                <p class="stats-count">13</p>
                <p class="stats-description">Different Clans</p>
            </div>
            <div class="stats-item">
                <p class="stats-count">~500</p>
                <p class="stats-description">Completed Sherpas</p>
            </div>
        </div>
        <div class="section-header" id="features-title">
          <h1 class="section-title">Our Features</h1>
          <hr>
        </div>
        <div class="features">
          <div class="features-item">
            <i class="features-icon fas fa-users"></i>
            <p class="feature-text">Casual clans with minimal activity requirements for any playertype</p>
          </div>
          <div class="features-item">
            <i class="features-icon fas fa-comments"></i>
            <p class="feature-text">A lovely community for any activity even outside of Destiny to share interests</p>
          </div>
          <div class="features-item">
            <i class="features-icon fas fa-calendar-day"></i>
            <p class="feature-text">Community-events to get to know each other during some games of Skribbl.io, CAH, etc.</p>
          </div>
          <div class="features-item">
            <i class="features-icon fas fa-user-graduate"></i>
            <p class="feature-text">Sherpa hub teaching any end-game activity with a chill and experienced team</p>
          </div>
          <div class="features-item">
            <i class="features-icon fas fa-search"></i>
            <p class="feature-text">LFG channels for each platform to find guardians for Early-, Late- and Endgame</p>
          </div>
          <div class="features-item">
            <i class="features-icon fas fa-medal"></i>
            <p class="feature-text">A rank-up system providing you with even more features the longer you stay with us</p>
          </div>
        </div>
    </div>
    <div class="section" id="intro-video">
      <div class="section-header" id="video-header">
        <h1 class="section-title">About us</h1>
        <hr>
      </div>
      <div class="video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/x1u2lLUDu4U"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>
</div>
